*{
    font-family: "poppins";
}
.hero{
    background-image: url('../img/hero/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000000;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu-item img{
    height: 200px;
    object-fit: cover;
}
.img-icon{
    height: 30px;
}
.commn,.card{
    transition: 0.9s;
    
}
.commn:hover{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}
.card:hover {
    background-color: #000000;
    color: #fff;
}